.navBar {
    padding: 12px 0px !important;
}
.centerNavbar {
    width: 100%;
    margin-left: 35%;
}
.logo {
    font-size: 28px !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.navLink {
    font-size: 20px !important;
    color: #fff !important;
    font-weight: 600 !important;
    transition: all 0.4s;
}
.navLink:hover {
    color: #7f56fd !important;
}
.navItemMiddle {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 22px !important;
    }
    .navLink {
        font-size: 18px !important;
    }
    .navItemMiddle {
        display: block;
    }
    .centerNavbar {
        margin-left: 2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navLink {
        font-size: 18px !important;
    }
    .navItemMiddle {
        display: block;
    }
    .centerNavbar {
        margin-left: 2%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .centerNavbar {
        margin-left: 11%;
    }
}
