.jumbotron {
    background-image: url("../../../images/eduTech.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.jumbotron::after {
    content: '';
    background-color: #7f56fd;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .92;
}
.jumbotronWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.jumbotronName {
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
}
.jumbotronTitle {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
}
.jumbotronTypeEffect{
    color: #fff;
}

/* Start Small Devices */
@media only screen and (max-width: 767px) {
    .jumbotron {
        height: 200px;
    }
    .jumbotronName {
        font-size: 21px !important;
        margin-bottom: 10px;
    }
    .jumbotronTitle {
        width: 253px;
    }
} /* End Small Devices */

/* Start Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 300px;
    }
} /* End Medium Devices */
