html,
body {
    height: 100% !important;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff !important;
}
div#root {
    height: 100% !important;
}
a {
    text-decoration: none !important;
    color: #fff !important;
}
img {
    max-width: 100%;
}
main {
    min-height: 100% !important;
    position: relative !important;
}
li {
    list-style-type: none;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0px;
}
a {
    text-decoration: none !important;
}
.custom-btn {
    background: #7f56fd;
    color: #fff;
    font-weight: 500;
    padding: 12px 35px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 30px;
    display: inline-block;
}
.custom-btn:hover {
    background: #333;
    color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #7f56fd!important;
}
.nav-link {
    color: #000 !important;
}
footer {
    position: absolute;
    width: 100%;
}
.text-justify {
    text-align: justify;
}
.spinner-color{
    color: #7f56fd !important;
}
.btn{
    color: #fff !important;
    background-color: #7f56fd !important;
    border: 1px solid #7f56fd !important;
}
.btn:hover {
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #7f56fd !important;
}
.page-link {
    font-size: 19px;
    color: #000 !important;
    padding: 5px 10px !important;
}
.page-link span {
    font-size: 16px !important;
    color: #000 !important;
}
.active>.page-link, .page-link.active {
    z-index: 3;
    color:#fff !important;
    background-color: #7f56fd !important;
    border-color: #7f56fd !important;;
    cursor: pointer !important;
}
.page-link:hover {
    opacity: .8;
    color:#fff !important;
    background-color: #7f56fd !important;
    border-color: #7f56fd !important;;
    cursor: pointer !important;
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(127, 86, 253, 0.25) !important;
    cursor: pointer !important;
}
